APP_MODE=development
PUBLIC_URL=http://localhost/famo/v3.10.1/public
ADMIN_URL=http://localhost/famo/v3.10.1/admin
DASHBOARD_URL=http://localhost/famo/v3.10.1/dashboard
LOGIN_URL=http://localhost/famo/v3.10.1/login
ASSET_URL=https://assets.famoacademy.ir
API_URL=https://api.famoacademy.ir
